*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: url(/img/background.png);
}

a{
    text-decoration: none;
}

nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px;
}

.date{
    font-family: 'Secular One', sans-serif;
}
.logo img{
    width: 200px;
    height: 50px;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 20%;
}

.nav-links h4{
    text-decoration: none;
    font-family: 'Secular One', sans-serif;
}

.nav-links li{
    list-style: none;
}

.hero{
    display: flex;
    padding-top: 30px;
    height: 100vh;
    padding-bottom: 0;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 200px;
}

.block-1{
    margin-bottom: 16px;
    padding: 24px 24px 0;
    background-color: transparent;
    text-align: center;
}
.home-1{
    margin-bottom: 0;
    font-family: 'Marcellus', serif;
    font-size: 5rem;
    color: black;
    line-height: 100%;
}
.home-2{
    margin-top: 12px;
    margin-bottom: 12px;
    padding-right: 16px;
    padding-left: 16px;
    font-family: 'Secular One', sans-serif;
    color: black;
    font-size: 25px;
    line-height: 24px;
}